.right-side > .page > .content-header {
    background: #1b3651;
}

.navbar {
    background: #120f54!important;
}

.alert-success
backckground-color: #1b3651;
}

.optional_dashboard_tile col-lg-3 col-xs-6 {
    background: rgba(63,105,125,0.88) !important;
}

.small-box {
rgb(38, 22, 230) !important
color: #fff!important;
}

.box .box-header {
    background-color: #efc300;
}

.table>thead>tr>td, .table>thead>tr>th {
    background-color: #fff!important;
}

.box .box-footer {
    background-color: #1a0083;
}

.btn-primary {
    background: #1b3651;
    color: #fff!important;
}

.user-panel-top-border {
    background-color: #120f54;
}

.sidebar a {
    background-color: #120f54!important;
}

.box-more-info {
    background: #120f54;
}

.btn.btn-default {

    background-color: #eec200 !important;
    color: #fff!important;
}

.alert-danger {
    color: #b300af !important;
    font-weight: bold;
}
