<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright © 2013-2016 The Nxt Core Developers.                            ~
  ~ Copyright © 2016 Jelurida IP B.V.                                         ~
  ~                                                                           ~
  ~ See the LICENSE.txt file at the top-level directory of this distribution  ~
  ~ for licensing information.                                                ~
  ~                                                                           ~
  ~ Unless otherwise agreed in a custom licensing agreement with NXT,
  ~ no part of the Nxt software, including this file, may be copied, modified,~
  ~ propagated, or distributed except according to the terms contained in the ~
  ~ LICENSE.txt file.                                                         ~
  ~                                                                           ~
  ~ Removal or modification of this copyright notice is prohibited.           ~
  ~                                                                           ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="news_page" class="page">
    <section class="content-header"><h1 data-i18n="news">News</h1></section>
    <section class="content">
        <div class="row" id="rss_news_container">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"><h3 class="box-title winForum">forum.winbit.com</h3></div>
                    <div class="box-body">
                        <div id="winforum_news" class="rss_news data-loading"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                    </div>
                </div>
<!-- 
                <div class="box box-primary">
                    <div class="box-header"><h3 class="box-title winer">WinCoin.Blogspot.com</h3></div>
                    <div class="box-body">
                        <div id="wincoin_blogspot_news" class="rss_news data-loading"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                    </div>
                </div>
 -->
            </div>
<!-- 
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"><h3 class="box-title reddit">Reddit.com/r/Pdc</h3></div>
                    <div class="box-body">
                        <div id="reddit_news" class="rss_news data-loading"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-header"><h3 class="box-title winer">Winer.org</h3></div>
                    <div class="box-body">
                        <div id="winer_news" class="rss_news data-loading"><img src="img/loading_indicator.gif" alt="Loading..." width="32" height="32" /></div>
                    </div>
                </div>
              
            </div>
 -->
        </div>
        <div id="rss_news_disabled" style="padding-top: 150px;text-align:center;"><span data-i18n="news_section_disabled">The news section is currently disabled.</span> <a href="#" id="rss_news_enable" data-i18n="click_here_to_enable">Click here to enable it.</a></div>
    </section>
</div>
